<template name="homeindex">
	{{> home_nav}}	

<div class="cl-mcont">
	<div class="row">
        
				<div class="col-sm-4 col-md-4">
						<div class="spacer">							
							<h2>Monitor web pages for text changes and get notified.</h2><br><br>
						</div>
        </div>
        
				<div class="col-sm-4 col-md-4">
					<div class="block-flat primary-box">
						<div class="header">	
							<h3>Real-time</h3>
						</div>
						<div class="content">
              <p>You get changes as they happen or you can trigger full site crawls and reports with just one click, anytime.</p>
						</div>
					</div>
          <div class="block-flat success-box">
						<div class="header">	
							<h3>Sitemap Monitoring</h3>
						</div>
						<div class="content">
              <p>We monitor sitemaps for changes and send out email notifications based on real time text changes, so you don't miss a beat.</p>
						</div>
					</div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="block-flat info-box">
						<div class="header">		
							<h3>Unlimited URLs</h3>
						</div>
						<div class="content">
              <p>You can even add your own sites with any number of URLs to watch for changes</p>
						</div>
					</div>
          <div class="block-flat danger-box">
						<div class="header">							
            <h3>Converted to Text</h3>
						</div>
						<div class="content">
              <p>Our algorithms convert the web pages into the text that you care about and highlight the changes in an easy to read format.</p>
						</div>
					</div>
        </div>

      </div>

</div>


</template>