<template name="home_nav">

  <div id="head-nav" class="topbar navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <div class="sidebar-logo">
          <div class="logo">
              <a href="/" style="font-weight: 100;">team<b>notify</b>.com</a>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right horizontal">
            <li class="active"><a href="#">Welcome</a></li>
            <!--<li><a href="/account/create">sign up</a></li>-->
            <li><a href="/account/login">login</a></li>
        </ul>
      </div>
    </div>
  </div>

</template>