<template name="admin_sidebar">

<div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <div class="sidebar-logo">
            <div class="logo">
                <a href="/admin">team<b>notify</b>.com</a>
            </div>
          </div>
          <div class="side-user">
            <div class="info">
              <p>{{sites_count}} / 10 <b>sites</b><span></span></p>
              <div class="progress progress-user">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{sites_percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sites_percentage}}%">
                </div>
              </div>
            </div>
          </div>
          <ul class="cl-vnavigation">
            <li><a href="/admin"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
            <li><a href="/admin/sites"><i class="fa fa-globe"></i><span>Sites</span></a></li>
            <li><a href="/admin/pages"><i class="fa fa-file"></i><span>Pages</span></a></li>
            <li><a href="/admin/pagereports"><i class="fa fa-edit"></i><span>Changes</span></a></li>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <input type="text" class="form-control search" placeholder="Search" />
        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>
  </div>

</template>