<template name="accountLogin">
	{{> home_nav}}	


<div id="cl-wrapper" class="login-container">

	<div class="middle-login">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center">Beta Login</h3>
			</div>
			<div>
				<form style="margin-bottom: 0px !important;" class="form-horizontal" id="account_login">
					<div class="content">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="text" placeholder="Your email" id="email" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										<input type="password" placeholder="Password" id="password" class="form-control">
									</div>
								</div>
							</div>
							
					</div>
					<div class="foot">
			  			<a href="#" class="btn btn-primary btn-lg" id="account-login">
				  			<span>Login</span>
				  		</a>
					</div>
				</form>
			</div>
		</div>
		<div class="text-center"><a href="#">&copy; 2014 HARPA</a></div>
	</div> 
	
</div>

</template>